@import url("https://fonts.googleapis.com/css2?family=Miranda+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+SAS:wght@100..400&family=Syne:wght@400..800&display=swap");
@import "tailwindcss";

@theme {
  /* Colors */
  --color-bg: oklch(0.97 0.01 250);
  --color-bg-muted: oklch(0.92 0.02 250);

  --color-surface: oklch(0.98 0 250);

  --color-text: oklch(0.42 0.11 264.6);
  --color-text-muted: oklch(0.4224 0.0513 255.74);

  --color-primary: oklch(0.73 0.1295 266.68);
  --color-primary-hover: oklch(0.58 0.19 260);
  --color-primary-active: oklch(0.52 0.2 260);

  --color-accent: oklch(0.61 0.18 268.9);

  --color-border: oklch(0.8635 0.0365 250);

  --color-error: oklch(0.63 0.22 24);

  /* Texts */
  --font-miranda: "Miranda Sans", sans-serif;
  --font-syne: "Syne", sans-serif;

  /* Shadows */
  --shadow-even: 0px 0px 6px 1px var(--tw-shadow-color);
}

@utility bg-gradient {
  background-color: #ffffff;
  background-image:
    radial-gradient(
      at 24% 74%,
      --alpha(var(--color-primary) / 70%) 0px,
      transparent 50%
    ),
    radial-gradient(
      at 96% 93%,
      --alpha(var(--color-primary) / 70%) 0px,
      transparent 50%
    ),
    radial-gradient(
      at 92% 14%,
      --alpha(var(--color-primary) / 70%) 0px,
      transparent 50%
    ),
    radial-gradient(
      at 0% 0%,
      --alpha(var(--color-primary) / 40%) 0px,
      transparent 50%
    );
}

@utility glass-* {
  --glass-weight: --value(integer, --default(60));

  background-color: --alpha(
    var(--color-surface) / calc(var(--glass-weight) * 1%)
  );
  backdrop-filter: blur(calc(var(--glass-weight) * 0.2px));

  @apply shadow-primary/50 inset-shadow-surface shadow-sm inset-shadow-sm/80;
}

@utility custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) transparent;
}

@utility btn-primary {
  @apply bg-accent shadow-primary/50 cursor-pointer rounded-4xl border-none px-6 py-2 text-white shadow-md transition-[background-color,box-shadow] duration-300 ease-in-out outline-none;

  &:hover {
    @apply bg-primary-hover;
  }

  &:focus {
    @apply shadow-even shadow-primary;
  }

  &:active {
    @apply shadow-even shadow-accent bg-primary-active;
  }
}

@utility orb {
  @apply absolute rounded-full;

  background: radial-gradient(
    circle at 100% 20%,
    #ffffff,
    --alpha(var(--color-primary) / 90%) 35%,
    var(--color-primary) 70%,
    --alpha(var(--color-primary) / 15%) 100%
  );

  box-shadow:
    0 0 30px --alpha(var(--color-primary) / 45%),
    inset 0 4px 12px rgba(255, 255, 255, 0.3);
}

:root {
  font-family: var(--font-miranda);
}
